
<div class="container">
  <div class="card">
    <button class="proceed"><svg class="sendicon" width="24" height="24" viewBox="0 0 24 24">
  <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
</svg></button>
   <img src="https://seeklogo.com/images/V/VISA-logo-62D5B26FE1-seeklogo.com.png" class="logo-card">
 <label>Card number:</label>
 <input id="user" type="text" class="input cardnumber"  placeholder="1234 5678 9101 1121">
 <label>Name:</label>
 <input class="input name"  placeholder="Edgar Pérez">
 <label class="toleft">CCV:</label>
 <input class="input toleft ccv" placeholder="321">
  </div>
  <div class="receipt">
    <div style="color:black;" class="col"><p>Total a Pagar:</p>
    <h2 style="color:black;" class="cost">$8100</h2><br>
    <p style="color:black;">Nombre Comercio:</p>
    <h2 class="seller">Parker</h2>
    </div>
    <div class="col">
      <p style="color:black;">Bought Items:</p>
      <h3 style="color:black;"class="bought-items">Estacionamiento sector norte</h3>
      <p style="color:black;"class="bought-items description">Por Hora de uso</p>
      <p style="color:black;"class="bought-items price">$1800</p><br>
      <h3 style="color:black;"class="bought-items">Horas totales de uso</h3>
      <p style="color:black;"class="bought-items description">5 horas </p>
      <p style="color:black;"class="bought-items price">$900 (10% de descuento por cliente frecuente)</p><br>
    </div>
    <p style="color:black;"class="comprobe">Esta informacion sera enviada a su Email</p>
  </div>
</div>