.logo{
    width: 25%;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .titulologo{
      font-family: 'Silkscreen', cursive;
      font-size: 28px;
  }
.search{
    margin-top: 15px;
}
