.logo{
    width: 25%;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .titulologo{
      font-family: 'Silkscreen', cursive;
      font-size: 28px;
  }
.search{
    margin-top: 15px;
}

#map{
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
}

.boton{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.boton2{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

.btm{
    height: 30px;
}

ion-icon {
    font-size: 27px;
}

