.logo{
    width: 25%;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .titulologo{
      font-family: 'Silkscreen', cursive;
      font-size: 28px;
  }
.search{
    margin-top: 15px;
}

.googlemaps{
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
}

.googlemaps iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.boton{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.btm{
    height: 30px;
}

ion-icon {
    font-size: 27px;
  }