<!-->>Poketles was here-->
<ion-header></ion-header>

<ion-content class="ion-padding ion-text-center" color="danger">

  <section>
    <h1 class="titulologo">Parking App</h1>
    <ion-img class="logo" src="/assets/icon/logo.png"></ion-img>
  </section>

  <section>
    <ion-item class="txtarea">
      <ion-input [(ngModel)]="user.usuario" type="text" placeholder="Correo Electronico"></ion-input>
    </ion-item>

    <ion-item class="txtarea">
      <ion-input [(ngModel)]="user.password" type="password" placeholder="Contraseña"></ion-input>
    </ion-item>
  </section>

  <section class="ion-margin-top">
    <ion-button routerLink="/principal" (click)="datousuario()" expand="block" class="ion-margin-top boton" fill="solid" color="success">Iniciar Sesíon</ion-button> 
  </section>
  
  <section>
    <ion-button routerLink="/register" expand="block" class="ion-margin-top boton" fill="solid" color="primary">Registrarse</ion-button> 
  </section>

</ion-content>
