<!--MODULO DE BACKBOTON-->
<app-backboton titulo="Ayuda" ruta="/home"></app-backboton>
<!--MODULO DE BACKBOTON-->
<ion-content class="ion-padding">
    <ion-title class="ion-text-center titulo text">¿Perdido?</ion-title>
    <ion-img class="imagen" src="/assets/icon/auto.gif"></ion-img>
    <p class="ion-text-justify"  >
        Para contactarte con nosotros puedes presionar <b>Aqui</b> y pronto te contactaremos
        con tu correo de contacto que ingresaste al momento de crear tu cuenta. <br>
        <br>
        Si por alguna razon tienes problemas para ingresar a tu correo electronico no te preocupes
        presiona <b>Aqui</b> para cambiarlo.
    </p>
</ion-content>