<!----------------HTML-->
<ion-header></ion-header>
<ion-content class="ion-padding">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12">
        <ion-img class="logo" src="/assets/icon/logomorado.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <h1 class="titulo ion-text-center">Parker</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center boton">
        <!--Module Import-->   
        <ion-button routerLink="/login" shape="round" fill="clear" size="large">
          <app-loading ></app-loading>
        </ion-button>
        <!--Module Import--> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>