//---------------->
.omitir{
    margin-left: 205px;
    color: rgb(121, 121, 121);
}

.logo{
    width: 50%;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
  }

.titulo{
    font-family: 'Silkscreen', cursive;
    color: rgb(121, 121, 121);
    margin-top: 0px;
    font-size: 37px;
    text-align: center;
}
  
.letras{
    margin-top: 65px;
    margin-bottom: 18px;
    text-align: center;
    font-size: 16px;
    color: rgb(121, 121, 121);
}

.boton{
    height: 45px;
    width: auto;
}

.google{
    margin-bottom: 18px;
}

.numero{
    margin-top: 20px;
    margin-bottom: 0px;
}

.otraforma{
    margin-top: 35px;
    text-align: center;
    font-size: 15px;
    color: rgb(148, 148, 148);
    text-decoration: underline;
    
}