
.logo{
    width: 50%;
    margin-top: auto;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 0px;
}
.titulologo{
    font-family: 'Silkscreen', cursive;
    color: rgb(228, 228, 228);
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 13px;
    margin-bottom: 0px;
    font-size: 24px;
}

.titulo{
    color: rgb(158, 158, 158);
    margin-top: 13px;
    margin-bottom: 0px;
    font-size: 18px;
    text-align: center;
}
  
.letras{
    margin-top: 65px;
    margin-bottom: 18px;
    text-align: center;
    font-size: 16px;
    color: rgb(151, 151, 151);
}

.boton{
    margin-top: 10px;
    margin-bottom: 17px;
}

.formulario{
    color: rgb(224, 224, 224);
}