<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="danger" >
  <section>
    <h1 class="titulo1">PARKED APP</h1>
  </section> 

  <section>
    <p><ion-icon name="person-circle-outline" style="zoom:4.0;"></ion-icon>Roberto Smith</p>
    <label for=""></label>
  </section>
  
  <section class="mapsgoogle">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.2986743052443!2d-70.68019498484696!3d-33.36326768079899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c7025c925e0f%3A0x7f2f6a657c08d14a!2sDuoc%20UC%3A%20Sede%20Plaza%20Norte!5e0!3m2!1ses!2scl!4v1651865318520!5m2!1ses!2scl" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>

</ion-content>
