@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.titulo1{
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  margin-left: 105px;
  margin-right: 0px;
  margin-bottom: 40px;
  font-size: 35px;
}

.icono{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: 40px;
}

  