<ion-app>
    <ion-content fullscreen class="ion-padding" scroll-y="false">
      <ion-slides>


        <ion-slide>
          <div class="slide">
            <img src="/assets/icon/logomorado.png" />
            <h1 class="titulo ion-text-center">Parker</h1>
            <h2>Bienvenido</h2>
          <p>
            <b>Parker</b> es una aplicacion para encontrar estacionamiento rapido en tu ciudad. 
          </p>
          </div>
        </ion-slide>

        <ion-slide>
          <img src="/assets/icon/logomoradooutline.png" />
          <h2>Rapido?</h2>
          <p>
            Pero por supuesto! con <b>Parker</b> podras encontrar de forma facil y rapida un estacionamiento para tu auto, o cacharro? da igual.
          </p>
        </ion-slide>

        <ion-slide>
          <img src="/assets/icon/logomoradooutline.png" />
          <h2>Facil de usar</h2>
          <p>
            Solamente necesitas tu celular adios a las escurridizas tarjetas y dispositivos raros, con <b>Parker</b> 
            estacionarce nunca a sido mas facil.
          </p>
        </ion-slide>

        <ion-slide>
          <ion-grid class="ion-padding">
            <ion-row>
              <ion-col size="12">
                <ion-img class="logo" src="/assets/icon/logomorado.png"></ion-img>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <h1 class="titulo ion-text-center">Parker</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" class="ion-text-center boton">
                <!--Module Import-->   
                <ion-button routerLink="/login" shape="round" fill="clear" size="large">
                  <app-loading ></app-loading>
                </ion-button>
                <!--Module Import--> 
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-content>
  </ion-app>