<!-->>Poketles>> was here-->

<ion-header></ion-header>
<ion-content class="ion-padding ion-text-center" color="primary">

  <section>
    <h1 class="titulologo">Parking App</h1>
    <ion-img class="logo" src="/assets/icon/logo.png"></ion-img>
  </section>


  <section>
    <h2 class="titulo">Bienvenido</h2>
    <p class="subtitulo">Estacionamientos al alcanze de la mano.</p>
  </section>
    

  <section class="ion-margin-top">
    <ion-button shape="round" routerLink="/login" expand="block" class="ion-margin-top boton" fill="solid" color="secondary">Comenzar</ion-button> 
  </section>

</ion-content>