.logo{
    width: 70%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
  }

.numero{
    font-family: 'Silkscreen', cursive;
    font-size: 60px;
}

.letra{
    font-family: 'Silkscreen', cursive;
    font-size: 37px;
}
