<!-->>Poketles was here-->
<ion-header></ion-header>

<ion-content class="ion-padding ion-text-center" color="danger">

  <section>
    <h1 class="titulologo">Parking App</h1>
    <ion-img class="logo" src="/assets/icon/logo.png"></ion-img>
  </section>

  <section>
    <ion-item class="txtarea">
      <ion-input type="text" placeholder="Nombre"></ion-input>
    </ion-item>

    <ion-item class="txtarea">
      <ion-input type="email" placeholder="Correo Electronico"></ion-input>
    </ion-item>

    <ion-item class="txtarea">
      <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item class="txtarea">
      <ion-input type="number" placeholder="Telefono +56"></ion-input>
    </ion-item>
  </section>
  
  <section>
    <ion-button routerLink="/register" expand="block" class="ion-margin-top boton" fill="solid" color="success">Registrarse</ion-button> 
  </section>

</ion-content>